<h3>Bienvenido a <%= title %></h3>
<table class="table">
<tbody><tr><td>
El portal donde podrá crear sus propios juegos!
</td></tr>
<tr><td text-align="center">

</td></tr></tbody>
</table>
<div class="centerAlign">
<a href="/quizes">
    <button class="btn btn-default">
    <span class="glyphicon glyphicon-question-sign"></span>
 Empezar!</button>
</a>
<div>
<br>
<br>
<br>
<br>