body { background: #333; }

#page-wrap:after { content: "Smartphone Layout"; }

h2 span, section h3 { display: none; }
body { font-size: xx-large; }
input, button { font-size: large; }
section > div{ height: 440px !important ;}
footer { font-size: large; }