@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

#content h1{
    color:#192F42;
}

#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background: #192F42;
}

#footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

#header {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background-color: #192F42;
  border-radius: 0px !important;
}

#loginb{
  position: relative;
  margin-right: 10px;
  margin-left: 85%;
}

#content{
  height: 100%;
}

#video{
  width: 100%;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}
.responsive-input{
  width: 100%;
}


@media (max-width: 480px) {
  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  #footer .col-sm-6{
      text-align:center;
  }
  
   #footer .pull-right{
      float: none !important;
  } 
 
  #video{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  #footer {
    position: relative;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    background: #192F42;
  }
  .conten{
    height: 100%
  }

  .responsive-input{
    width: 100%;
  }
  .centerAlign{
    text-align: center;
  }
  .centerAlign > button{
    position: absolute;
    top: 50%;
  }


}