<h3>Temas</h3>
<table>
	<% var i; for (i=0; i < quizes.length; i++) { %>
		<tr>
			<td><a name="<%= quizes[i].tema %>" href="temas/<%= quizes[i].tema %>"><%= quizes[i].tema %> </a></td>
		</tr>
	<% } %>
</table><p>
